/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranga:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&family=Ranga:wght@400;700&display=swap");

/* Variable Declarations */
$border-background: cadetblue;
$altbgcolor: linear-gradient(to right, #C1E1FF, #8AB6D6);
$backgroundColors: linear-gradient(to bottom, rgba(163, 204, 234, 0.4941176471), rgba(111, 208, 230, 0.6901960784));
$colorful: linear-gradient(to right, #FFECB3, #FFDAB9, #FFC0CB);

$firstMenuColor: #10c2a7;
$endGameMenu: #ffc0cbc2;

$containerBackground: #FFECB3;
$container2Background: $firstMenuColor;

$boxShadowsCyan: #10a4c2;
$boxShadowsBlue: #4000ff;
$boxShadowsRed: #c24510;

$textColorAfterHover: aliceblue;
$hoverColor: #7810c2;

$defaultFont: 'Work Sans', sans-serif;
$hintFont: "Ranga", cursive;
$headingFont: "Lumanosimo", cursive;
$altFont: 'IBM Plex Sans', sans-serif;

/* Mixin for border-radius */
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

/* Root Element */
:root {
    --border-background: $border-background;
    --altbgcolor: $altbgcolor;
    --backgroundColors: $backgroundColors;
    --defaultFont: $defaultFont;
    --hintFont: $hintFont;
    --headingFont: $headingFont;
    --colorful: $colorful;

    --altFont: $altFont;
    --firstMenuColor: $firstMenuColor;
    --endGameMenu: $endGameMenu;
    --containerBackground: $containerBackground;
    --container2Background: $container2Background;
    --hoverColor: $hoverColor;
    --boxShadowsCyan: $boxShadowsCyan;
    --boxShadowsBlue: $boxShadowsBlue;
    --boxShadowsRed: $boxShadowsRed;
    --textColorAfterHover: $textColorAfterHover;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $altFont;
    cursor: pointer;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: $altbgcolor;
}

/* Main Container Styles */
#bigContainer {
    width: 100%;
    height: 100%;
    background-color: $containerBackground;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Menu Container Styles */
    .menuContainer {
        display: flex;
        flex-direction: column;
        background-color: $firstMenuColor;
        width: 450px;
        height: 450px;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: fixed;
        max-width: 500px;
        width: 90%;
        @include border-radius(35px);

    }

    /* Menu Heading Styles */
    .menuHeading {
        font-size: 25px;
        font-family: $defaultFont;
        margin-bottom: 15px;
        text-transform: capitalize;
    }



}

.messageText {
    padding: 15px 5px;
    /* font-size: 14px; */
    animation: fadeIn 1s ease-in-out forwards;
}

.menuButton {
    font-size: 18px;
    padding: 15px 30px;
    margin: 15px;
    border-radius: 15px;
    font-weight: 700;
    font-family: var(--headingFont);
    font-style: normal;

}

/* Menu Button Styles */
.menuButton:hover {
    background-color: $hoverColor;
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
    box-shadow: -2px -3px 5px $boxShadowsBlue, 2px 3px 5px $boxShadowsBlue;
    color: $textColorAfterHover;
    border-color: transparent;
}


/* Second Container Styles */
#bigContainer2 {
    width: 100%;
    height: 100%;
    background-color: $container2Background;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    /* End Menu Container Styles */
    .endMenuContainer {
        display: flex;
        flex-direction: column;
        background-color: $endGameMenu;
        width: 450px;
        height: 580px;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: fixed;
        max-width: 500px;
        width: 90%;
        @include border-radius(35px);

    }

    i {
        color: $boxShadowsCyan;
        padding: 5px;
        text-decoration: underline;
    }

    /* Final Image Styles */
    .lastImg {
        width: 300px;
        height: 200px;
        margin: 10px;
        border-radius: 5px;
        animation: fadeIn 1s ease-in-out forwards;
        box-shadow: -3px -4px 10px $boxShadowsCyan, 2px 3px 10px $boxShadowsBlue;
        color: $textColorAfterHover;
    }


    /* Final Word and Result Styles */
    #finalWord,
    #result {
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
    }

    /* Goodbye Image Styles */


}

.byeImg {
    width: 200px;
    padding-top: 10px;
    height: 200px;
    border-radius: 25px;
    animation: bounce 1s ease-in alternate infinite;
}


/* Main Container Styles */
#mainContainer {
    display: inline-flex;
    width: 900px;
    height: auto;
    background: #fff;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 45px 25px;
    border-radius: 10px;
    margin: 20px;
    background: $colorful;
    display: none;

    /* the main heading on top of the Container */
    h3 {
        margin-top: 10px;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        padding: 8px 6px;
        border-radius: 15px;
        background-color: #FFDAB9;
        box-shadow: -2px -5px 5px $boxShadowsRed, 2px 5px 5px $boxShadowsCyan;
    }

}




/* The container holding the .hangmanContainer and words */
#tabletContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 20px;


    /* Hangman Container Styles */
    .hangmanContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 5px;

        /* Styling for the image setting size and background shadow */
        img {
            max-width: 250px;
            max-height: 225px;
            border-radius: 10px;
            box-shadow: -1.5px -5px 5px $boxShadowsCyan, 1.5px 5px 5px $boxShadowsRed;
            border-radius: 10px;
        }
    }

    /* Start Image Styles */
    #startImage {
        width: auto;
        height: 190px;
    }

    .wordAndGuessBox {
        padding: 10px;
    }

    .words {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 10px;
        color: $boxShadowsCyan;
        font-weight: 800;
    }

    .hints,
    .guesses {
        font-size: 22px;
        text-align: center;
        margin-bottom: 5px;
        font-family: $hintFont;
        font-weight: 700;
        font-style: normal;
        text-wrap: wrap;
    }


    .guesses i {
        /* font-size: 14px; */
        font-family: $altFont;
        text-decoration: none;
    }

}

.tries {
    font-size: 18px;
}

/* Styling the text displayed when user press exit */

/* some animation effects */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* style for the hint box,word and guesses made by the user. */
.hintBox {
    align-items: center;
    justify-content: center;
}

/* the number of tries shown in different color */
#changeNumber {
    color: $boxShadowsRed;
}

p {
    padding: 10px;
    text-align: center;
    text-wrap: wrap;
    color: #c24510;
}

/* The container holding all the keyboard buttons */
#buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    max-height: 140px;
    gap: 7px;
    justify-content: center;

    .buttons {
        width: calc(9.5% - 2px);
        padding: 10px;
        border-radius: 15px;
        border: solid 2px cadetblue;
        background: aliceblue;
        color: $boxShadowsCyan;
        /* /* display: flex;  */
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }

    .buttons:hover {
        transform: scale(1.1);
        transition: transform 0.5s ease-out;
        box-shadow: -1px -2px 2px $boxShadowsCyan, 1px 2px 5px $boxShadowsRed;
        color: aliceblue;
        background: $boxShadowsCyan;
        border: none;
    }

    .buttons:disabled {
        color: $textColorAfterHover;
        background: $boxShadowsRed;
        border: none;
    }

    .buttons:disabled:hover {
        transform: none;
        box-shadow: none;
    }

}



/* Calculating the size of the button to fit in the space.Adding hover effects and style for disabled button. */

.lastHeading {
    font-size: 20px;
}

#tabletContainer .hints {
    font-size: 22px;
}







/* For tablets */
@media only screen and (max-width: 768px) {

    /* #bigContainer {
      display: none;
    } */
    /* #bigContainer2 {
      display: flex;
    } */
    #startImage {
        width: 240px;
        height: 180px;
    }

    .menuContainer,
    .endMenuContainer {
        width: 80%;
        height: 90%;

        /* padding: 0; */
        /* margin: 0; */

    }

    .menuHeading {
        font-size: 20px;
        font-family: $headingFont;
        font-weight: 700;
    }


    .lastHeading,
    #finalWord,
    #result {
        font-size: 16px;
    }

    .menuButton {
        font-size: 16px;
        font-weight: 700;
        /* padding: 1px 10px; */
    }

    .hangmanContainer img {
        max-width: 300px;
    }

    #buttonsContainer {
        display: flex;
        flex-wrap: wrap;
        max-height: 140px;
        gap: 7px;
        justify-content: center;
    }

    .words,
    .guesses,
    .guesses i {
        font-size: 14px;
        /* background-color: #7810c2; */
    }



    .tries {
        font-size: 14px;
    }



    i {
        color: $boxShadowsCyan;
        padding: 5px;
        text-decoration: underline;
    }

    #tabletContainer .hints {
        font-size: 16px;
    }

}


/* For mobile devices */
@media only screen and (max-width: 480px) {

    /* #bigContainer {
      display: none;
    } */
    /* #bigContainer2 {
      display: flex;
    } */
    #mainContainer {
        display: none;
        width: 90%;
        padding: 25px;


        #tabletContainer {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    #bigContainer2 .lastImg {
        width: 250px;
        height: 200px;
    }

    #finalWord,
    #result {
        font-size: 16px;
        font-family: $headingFont;
        text-align: center;
        text-transform: capitalize;
    }

    i {
        font-size: 18px;
        color: var(--boxShadowsCyan);
        padding: 2px;
        text-decoration: underline;
    }


    .wordAndGuessBox {
        font-size: 14px;
        padding: 0px;
    }


    .endMenuContainer {
        width: 90%;
        height: 550px;
        /* padding: 10px 5px; */
        /* margin: 10px; */
    }

    .menuHeading {
        font-size: 12px;
        font-weight: 700;
        margin-top: 5px;
        text-transform: capitalize;
    }

    .menuButton {
        font-size: 14px;
        font-weight: 700;
    }

    .hangmanContainer img {
        max-width: 200px;
    }

    #buttonsContainer .buttons {

        width: calc(8% - 2px);
        padding: 2.5px;
        font-size: 10px;
    }

    .tries {
        font-size: 12px;
    }

    .menuContainer {
        height: 250px;
        width: 300px;
    }

    #tabletContainer .hints {
        font-size: 14px;
    }
}