/* Variable Declarations */
/* Author Harkamal */
:root {
    --firstMenuColor: #10c2a7;
    --containerBackground: #FFECB3;
    --container2Background: var(--firstMenuColor);
    --textColorAfterHover: aliceblue;
    --hoverColor: #7810c2;
    --defaultFont: 'Work Sans', sans-serif;
    --headingFont: "Lumanosimo", cursive;
    --altFont: 'IBM Plex Sans', sans-serif;
    --colorful: linear-gradient(to right, #FFECB3, #FFDAB9, #FFC0CB);
}

/* Styles */
html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--defaultFont);
    height: 100vh;

}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--containerBackground);
}


header {
    text-align: center;
    font-family: var(--headingFont);
    color: var(--container2Background);
    /* margin-bottom: 20px; */
    padding: 10px;
}

nav {
    display: flex;
    padding: 20px 20px;
    border-radius: 0 0 10px 10px;
    border-bottom: var(--hoverColor) solid 5px;

    font-size: 20px;
    justify-content: space-evenly;
    align-self: center;

    background: var(--colorful);
    cursor: pointer;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--container2Background);

}

/* Styles for notActive class */
.notActive {
    color: gray;
    text-decoration: none;
    pointer-events: none;
    cursor: none;
}

.notActive:hover {

    cursor: none;
}

/* Styles for hover effect */
nav ul li a:hover {

    text-decoration: underline;
    color: var(--hoverColor);
}



footer {
    text-align: center;
    font-size: 16px;
    /* margin-top: 20px; */
    background: var(--colorful);
    /* display: flex; */
    border-radius: 10px 10px 0 0;
    border-top: var(--hoverColor) solid 5px;

}



footer span {
    color: var(--container2Background);
}

h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 16px;
    text-align: center;
}

img {
    max-width: 90%;
    height: auto;
    align-self: center;
    align-items: center;
    margin: 10px;
    border-radius: 25px;
}

.allItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Align text center */
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 18px;

    }

    body,
    h2 {
        font-size: 16px;
    }

    nav,
    p {
        font-size: 12px;

    }

    nav {
        font-size: 16px;
    }

    nav ul li {
        margin-right: 10px;
    }
    img {
        max-width: 60%;
        height: auto;
        align-self: center;
        align-items: center;
        margin: 10px;
        border-radius: 25px;
    }
}